{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<footer>
    <div class="info container">
        <div class="row">
            <div class="logo col-lg-3">
                <img src="https://via.placeholder.com/150" alt="logo">
            </div>
            <div class="menu col-lg-3">
                <nav>
                    <ul>
                        {%- for path in page_paths -%}
                            {%- assign my_page = site.pages | where: "path", path | first -%}
                            {%- if my_page.title -%}
                            <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                            {%- endif -%}
                        {%- endfor -%}
                    </ul>
                </nav>
            </div>
            <div class="description col-lg-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>

    <div class=signature container-fluid>
        © 2019 All right reserved.
    </div>
</footer>