@charset "utf-8";

$background-color-primary: #ffffff;
$background-color-second: #eae8e3;

$color-attic-primary: #3d4f6d;
$color-text: #343434;

$font-base: 'Roboto', sans-serif;
$font-title: 'PT Sans', sans-serif;


@import
    "attic/base",
    "attic/header",
    "attic/home",
    "attic/footer"
;