---
layout: default
---
<div class="home">

    {{ content }}

    {%- if site.posts.size > 0 -%}

        <div class="articles container">
            <div class="row">
            {%- for post in site.posts -%}
                {%- assign date_format = site.attic.date_format | default: "%b %-d, %Y" -%}
                {%- if forloop.first -%}
                    {%- assign col = 'col-md-12' -%}
                    {%- assign cover = post.cover | prepend: site.baseurl_img -%}
                {%- else -%}
                    {%- assign col = 'col-xl-4 col-lg-6' -%}
                    {%- assign cover = post.cover | prepend: 'thumb_' | prepend: site.baseurl_img -%}
                {%- endif -%}

                <div class="post {{ col }}">
                    <article>
                        <a href="{{ post.url | relative_url }}">
                            <div class="post-card"
                            {%- if post.cover -%}
                                    style="background-image: url('{{ cover }}');"
                            {%- endif -%}
                            >
                                <span class="date">{{ post.date | date: date_format }}</span>
                            </div>
                        </a>
                        <div class="information">
                            <a href="{{ post.url | relative_url }}">
                                <h3 class="title">{{ post.title | escape }}</h3>
                            </a>
                        </div>
                    </article>
                </div>

            {%- endfor -%}
            </div>
        </div>

  {%- endif -%}

</div>
